*.py[cod]

*~


# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# pymc-examples dir
plots
plots/*

src/sandbox/*


# database dir
src/database/citations.dmp
src/database/delnodes.dmp
src/database/division.dmp
src/database/fetchncbi.log
src/database/gc.prt
src/database/gencode.dmp
src/database/gene2accession.db
src/database/gene2accession.gz
src/database/gene2go.db
src/database/gene2go.gz
src/database/gene_history.db
src/database/gene_history.gz
src/database/gene_info.db
src/database/gene_info.gz
src/database/merged.dmp
src/database/names.dmp
src/database/nodes.dmp
src/database/readme.txt
src/database/taxdump.tar.gz
src/database/config.py
src/database/createdb.log
src/database/dbschema.png