CONFIGURE = {'BLASTDB':'/usr/local/share/blast',
             'data':'/usr/local/share/htsint',
 	     'dbname':"",
	     'dbuser':"",
             'dbpass':"",
             'dbhost':"",
             'dbport':"",
             'taxa':["10090","9606","4932","5833"]
 }