"""
edit the variables to configure htsint
ensure that at least '10566' remains as part of the species list
"""

CONFIG = {'data':'/usr/local/share/htsint',
 	  'dbname':"",
	  'dbuser':"",
          'dbpass':"",
          'dbhost':"",
          'dbport':"",
          'blast':False
	  'species' = ['10566','9606','10090','8364','10116','9913','8355','9031',
                       '9601','7955','9823','9986','9615','9541','9598','7227',
                       '10029','100141']
 }